<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{url_for('static', filename="css/style.css")}}">
		<title>Dominican Republic | Chris</title>
	</head>

	<body>
		<nav>
			<div class="nav__logo">DR</div>
			<menu class="nav__links">
				<li class="link"><a href="#">Home</a></li>
				<li class="link"><a href="#">Destinations</a></li>
				<li class="link"><a href="#">About Me</a></li>
				<li class="link"><a href="#">Contact</a></li>
			</menu>
		</nav>
		<header class="section__container header__container">
			<div class="header__image__container">
				<div class="header__content">
					<h1>Welcome to the <span class="text-gradient">Dominican Republic</span></h1>
					<p>
						Your quick guide to the Dominican Republic with real information from
						someone who have lived in the DR for over 12 years!
					</p>
				</div>
				<div class="stats__container">
					<!-- booking__container -->
					<div class="stats__content">
						<!-- form -->
						<div class="stats__group">
							<!-- form__group -->
							<div class="stats__data">
								<!-- input__group -->
								<p>11.3 Million</p>
								<!-- label -->
							</div>
							<p>Population #</p>
						</div>
						<div class="stats__group">
							<div class="stats__data">
								<p>Santo Domingo</p>
							</div>
							<p>Capital City</p>
						</div>
						<div class="stats__group">
							<div class="stats__data">
								<p>Dominican Peso</p>
							</div>
							<p>Currency</p>
						</div>
						<div class="stats__group">
							<div class="stats__data">
								<p>Spanish</p>
							</div>
							<p>Official Language</p>
						</div>
					</div>
				</div>
			</div>
		</header>

		<section class="section__container info__container">
			<h2 class="section__header">Discover the Enchanting Dominican Republic</h2>
			<div class="popular__grid">
				<div class="popular__card">
					<div class="popular__content">
						<div class="popular__card__header">
							<h4>From Beach Bliss to Mountain Majesty</h4>
						</div>
						<p>
							Nestled in the heart of the Caribbean, the Dominican Republic boasts
							vibrant culture, stunning landscapes, and a rich history. From Punta
							Cana's white-sand beaches to Jarabacoa's mountainous terrain, this
							tropical paradise offers endless adventures. Explore Santo Domingo's
							colonial charm and lively markets, immerse yourself in merengue and
							bachata rhythms at dance halls and beach bars. With warm hospitality and
							diverse attractions, the Dominican Republic invites you to discover its
							enchanting wonders.
						</p>
					</div>
				</div>
				<div class="popular__card">
					<div class="popular__content">
						<div class="popular__card__header">
							<h4>Brief History of the Dominican Republic</h4>
						</div>
						<p>
							TThe Dominican Republic, on the island of Hispaniola, has a tumultuous
							past. Initially inhabited by the Taíno people, it was colonized by the
							Spanish in the 15th century, the first permanent European settlement in
							the Americas. It endured centuries of Spanish rule, marked by
							exploitation, slavery, and resistance, including the Haitian Revolution.
							In 1844, gaining independence from Haiti, it faced political
							instability, dictatorship, and foreign intervention throughout the 20th
							century. Despite challenges, it emerged as a vibrant nation with rich
							cultural heritage, blending indigenous, African, and European
							influences.
						</p>
					</div>
				</div>
				<div class="popular__card">
					<div class="popular__content">
						<div class="popular__card__header">
							<h4>Discover the Enchanting Dominican Republic</h4>
						</div>
						<p>
							Nestled in the heart of the Caribbean, the Dominican Republic is a
							captivating tapestry of vibrant culture, breathtaking landscapes, and
							rich history. From the pristine white-sand beaches of Punta Cana to the
							lush, mountainous terrain of Jarabacoa, this tropical paradise offers
							endless adventures for every traveler. Delve into the colonial charm of
							Santo Domingo's cobblestone streets, adorned with centuries-old
							architecture and lively street markets. Indulge in the rhythmic beats of
							merengue and bachata, echoing through lively dance halls and beachfront
							bars. With its warm hospitality and diverse attractions, the Dominican
							Republic beckons visitors to explore its enchanting wonders.
						</p>
					</div>
				</div>
				<div class="popular__card">
					<div class="popular__content">
						<div class="popular__card__header">
							<h4>Discover the Enchanting Dominican Republic</h4>
						</div>
						<p>
							Nestled in the heart of the Caribbean, the Dominican Republic is a
							captivating tapestry of vibrant culture, breathtaking landscapes, and
							rich history. From the pristine white-sand beaches of Punta Cana to the
							lush, mountainous terrain of Jarabacoa, this tropical paradise offers
							endless adventures for every traveler. Delve into the colonial charm of
							Santo Domingo's cobblestone streets, adorned with centuries-old
							architecture and lively street markets. Indulge in the rhythmic beats of
							merengue and bachata, echoing through lively dance halls and beachfront
							bars. With its warm hospitality and diverse attractions, the Dominican
							Republic beckons visitors to explore its enchanting wonders.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="places">
			<div class="section__container places__container">
				<h2 class="section__header">Popular places</h2>
				<div class="places__grid">
					<div class="places__card">
						<img src="#" alt="#" />
						<h4>Place name 1</h4>
						<p>Short place description</p>
					</div>
					<div class="places__card">
						<img src="#" alt="#" />
						<h4>Place name 2</h4>
						<p>Short place description</p>
					</div>
					<div class="places__card">
						<img src="#" alt="#" />
						<h4>Place name 3</h4>
						<p>Short place description</p>
					</div>
					<div class="places__card">
						<img src="#" alt="#" />
						<h4>Place name 4</h4>
						<p>Short place description</p>
					</div>
					<div class="places__card">
						<img src="#" alt="#" />
						<h4>Place name 5</h4>
						<p>Short place description</p>
					</div>
					<div class="places__card">
						<img src="#" alt="#" />
						<h4>Place name 6</h4>
						<p>Short place description</p>
					</div>
					<div class="places__card">
						<img src="#" alt="#" />
						<h4>Place name 7</h4>
						<p>Short place description</p>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer">
			<div class="section__container footer__container">
				<div class="footer__col">
					<h3>DR</h3>
					<p>
						This is not an official website for the Dominican Republic nor is it
						sponsored by the Dominican Republic
					</p>
					<p>
						This is simply a school project to show what I have learned dedicated to
						provide information about my home country the Dominican Republic
					</p>
				</div>
				<div class="footer__col">
					<h4>Other resources</h4>
					<p><a href="https://dr1.com/">DR1.com</a></p>
					<p><a href="https://migracion.gob.do/en/">Dirección General de Migracíon</a></p>
					<p><a href="https://eticket.migracion.gob.do/">E-ticket registration</a></p>
					<p><a href="https://www.godominicanrepublic.com/">Tourism Information</a></p>
					<p>
						<a
							href="https://www.swedenabroad.se/sv/om-utlandet-f%C3%B6r-svenska-medborgare/dominikanska-republiken/"
							>Sweden Abroad (Swedish)</a
						>
					</p>
				</div>
				<div class="footer__col">
					<h4>Author</h4>
					<p><a href="">About Me</a></p>
					<p><a href="">Contact</a></p>
				</div>
			</div>
			<div class="footer__bar">
				Copyright © 2024 Christoffer Carlsson. All rights reserved.
			</div>
		</footer>
	</body>
</html>
