<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
		<title>Dominican Republic | Chris</title>
	</head>

	<body>
		<nav>
			<div class="nav__logo">DR</div>
			<menu class="nav__links">
				<li class="link"><a href="#">Home</a></li>
				<li class="link"><a href="#">Destinations</a></li>
				<li class="link"><a href="#">About Me</a></li>
				<li class="link"><a href="#">Contact</a></li>
			</menu>
		</nav>
		<header class="section__container header__container">
			<div class="header__image__container">
				<div class="header__content">
					<h1>Welcome to the <span class="text-gradient">Dominican Republic</span></h1>
					<p>
						Your quick guide to the Dominican Republic with real information from
						someone who have lived in the DR for over 12 years!
					</p>
				</div>
				<div class="stats__container">
					<!-- booking__container -->
					<div class="stats__content">
						<!-- form -->
						<div class="stats__group">
							<!-- form__group -->
							<div class="stats__data">
								<!-- input__group -->
								<p>11.3 Million</p>
								<!-- label -->
							</div>
							<p>Population #</p>
						</div>
						<div class="stats__group">
							<div class="stats__data">
								<p>Santo Domingo</p>
							</div>
							<p>Capital City</p>
						</div>
						<div class="stats__group">
							<div class="stats__data">
								<p>Dominican Peso</p>
							</div>
							<p>Currency</p>
						</div>
						<div class="stats__group">
							<div class="stats__data">
								<p>Spanish</p>
							</div>
							<p>Official Language</p>
						</div>
					</div>
				</div>
			</div>
		</header>

		<section class="section__container info__container">
			<h2 class="section__header">Discover the Enchanting Dominican Republic</h2>
			<div class="popular__grid">
				<div class="popular__card">
					<div class="popular__content">
						<div class="popular__card__header">
							<h4>From Beach Bliss to Mountain Majesty</h4>
						</div>
						<p>
							Nestled in the heart of the Caribbean, the Dominican Republic boasts
							vibrant culture, stunning landscapes, and a rich history. From Punta
							Cana's white-sand beaches to Jarabacoa's mountainous terrain, this
							tropical paradise offers endless adventures. Explore Santo Domingo's
							colonial charm and lively markets, immerse yourself in merengue and
							bachata rhythms at dance halls and beach bars. With warm hospitality and
							diverse attractions, the Dominican Republic invites you to discover its
							enchanting wonders.
						</p>
					</div>
				</div>
				<div class="popular__card">
					<div class="popular__content">
						<div class="popular__card__header">
							<h4>Brief History of the Dominican Republic</h4>
						</div>
						<p>
							The Dominican Republic, on the island of Hispaniola, has a tumultuous
							past. Initially inhabited by the Taíno people, it was colonized by the
							Spanish in the 15th century, the first permanent European settlement in
							the Americas. It endured centuries of Spanish rule, marked by
							exploitation, slavery, and resistance, including the Haitian Revolution.
							In 1844, gaining independence from Haiti, it faced political
							instability, dictatorship, and foreign intervention throughout the 20th
							century. Despite challenges, it emerged as a vibrant nation with rich
							cultural heritage, blending indigenous, African, and European
							influences.
						</p>
					</div>
				</div>
				<div class="popular__card">
					<div class="popular__content">
						<div class="popular__card__header">
							<h4>From Tradition to Innovation: The Evolution of Dominican Music</h4>
						</div>
						<p>
							Dominican music embodies the soul of the nation, weaving together a
							tapestry of sound that reflects its complex history. Influenced by
							indigenous, African, and European roots, genres like merengue and
							bachata resonate with passion and resilience. Merengue, with its lively
							beats and infectious melodies, originated in rural communities, while
							bachata, known for its heartfelt lyrics and melancholic tunes, emerged
							from the streets of urban neighborhoods. These genres serve as a
							testament to the Dominican people's ability to turn hardship into art,
							celebrating life's triumphs and tribulations. Today, Dominican music
							continues to evolve, embracing new styles like reggaeton and dembow, yet
							always staying true to its roots. Whether on the dance floor or in quiet
							reflection, the melodies of merengue and bachata remain a vital part of
							Dominican identity, inviting listeners to connect with the nation's
							past, present, and future.
						</p>
					</div>
				</div>
				<div class="popular__card">
					<div class="popular__content">
						<div class="popular__card__header">
							<h4>
								From Plantains to Pork: A Culinary Journey Through Dominican
								Gastronomy
							</h4>
						</div>
						<p>
							Exploring Dominican cuisine is a journey into a world of bold flavors
							and vibrant colors, shaped by centuries of history and tradition. Rooted
							in indigenous ingredients like yuca, plantains, and cassava, and
							enhanced by African spices and Spanish cooking techniques, Dominican
							food offers a diverse array of dishes to satisfy every palate. Sample
							the succulent roast pork of lechon asado, marinated in citrus and
							garlic, or savor the crispy goodness of tostones, fried green plantains
							served with a tangy garlic dipping sauce. Seafood lovers will delight in
							dishes like camarones al ajillo, shrimp sautéed in a flavorful garlic
							sauce, or pescado con coco, fish cooked in a creamy coconut sauce.
							Finish your meal with a sweet treat like bizcocho Dominicano, a moist
							and decadent cake flavored with rum and topped with tropical fruits, and
							discover the irresistible flavors of the Dominican Republic.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="places">
			<div class="section__container places__container">
				<h2 class="section__header">Popular places to visit</h2>
				<div class="places__grid">
					<div class="places__card">
						<a href="">
							<img
								src="{{url_for('static', filename='assets/sosua')}}"
								alt="Sosúa
							Beach"
							/>
							<h4>Sosúa</h4>
							<p>Vibrant beach town, rich in culture and coastal beauty.</p>
						</a>
					</div>
					<div class="places__card">
						<a href="">
							<img
								src="{{url_for('static', filename='assets/puertoplata')}}"
								alt="Puerto Plata Center"
							/>
							<h4>Puerto Plata</h4>
							<p>Coastal gem with historic charm and stunning landscapes</p>
						</a>
					</div>
					<div class="places__card">
						<a href="">
							<img
								src="{{url_for('static', filename='assets/santiago')}}"
								alt="Santiago
							Monument"
							/>
							<h4>Santiago De Los Caballeros</h4>
							<p>Dynamic city nestled in scenic mountainous terrain.</p>
						</a>
					</div>
					<div class="places__card">
						<a href="">
							<img
								src="{{url_for('static', filename='assets/santodomingo')}}"
								alt="Santo Domingo Center"
							/>
							<h4>Santo Domingo</h4>
							<p>
								Bustling capital brimming with history, culture, and lively energy.
							</p>
						</a>
					</div>
					<div class="places__card">
						<a href="">
							<img
								src="{{url_for('static', filename='assets/puntacana')}}"
								alt="Punta Cana Hotel"
							/>
							<h4>Punta Cana</h4>
							<p>Tropical paradise renowned for its pristine beaches and resorts.</p>
						</a>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer">
			<div class="section__container footer__container">
				<div class="footer__col">
					<h3>DR</h3>
					<p>
						This is not an official website for the Dominican Republic nor is it
						sponsored by the Dominican Republic
					</p>
					<p>
						This is simply a school project to show what I have learned dedicated to
						provide information about my home country the Dominican Republic
					</p>
				</div>
				<div class="footer__col">
					<h4>Other resources</h4>
					<p><a href="https://dr1.com/">DR1.com</a></p>
					<p><a href="https://migracion.gob.do/en/">Dirección General de Migracíon</a></p>
					<p><a href="https://eticket.migracion.gob.do/">E-ticket registration</a></p>
					<p><a href="https://www.godominicanrepublic.com/">Tourism Information</a></p>
					<p>
						<a
							href="https://www.swedenabroad.se/sv/om-utlandet-f%C3%B6r-svenska-medborgare/dominikanska-republiken/"
							>Sweden Abroad (Swedish)</a
						>
					</p>
				</div>
				<div class="footer__col">
					<h4>Author</h4>
					<p><a href="">About Me</a></p>
					<p><a href="">Contact</a></p>
				</div>
			</div>
			<div class="footer__bar">
				Copyright © 2024 Christoffer Carlsson. All rights reserved.
			</div>
		</footer>
	</body>
</html>
